.right{
    margin-left: 19px;
    flex: 1;
    border-left: 4px solid #ede9e9

}
.to_do{
    height: 30rem;
}

.searching input{
    margin: 10px;
    border-top: 0;
    border-right: 0;
    border-left: 0;  
    outline: none;
}

.rightheading{
    text-align: center;
    text-decoration:underline;
    margin: 20px;
    font-size: 29px;
    font-family: 'Sonsie One', cursive;
    font-weight: bolder;

}

b{
    font-size: 17px;
}

.item{
    flex: 1;
    background-color: #EDF2F2;

    width: 20rem;
    border: none;
    margin: 10px;
    border-radius: 12px;
}

.status{
    display: flex;
}


.project_block{
    background-color: aliceblue;
    border-bottom: 2px solid black;
    border-radius: 9px;
    word-wrap: break-word;
    margin-bottom: 10px;
}


.project_block .title{
text-align: center;
margin-bottom: 3px;
font-size: 18px;
}

.project_block .description{
    padding-left: 10px;
    margin-bottom: 5px;
    color:#8c898d
}

.blinking-element{
    color: red;
    animation: blink 3s infinite;
}

@keyframes blink{
    0% , 50% {
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
